<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3G01JN5Z3H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3G01JN5Z3H');
    </script>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='chatrik_favicon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <title>Chatrik // চাত্রিক</title>
    <script type="module" crossorigin src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
